// global styles
html{
  height: 100%;
  margin: 0;
  font-size: 625%;
}

body {
  height:100%;
  padding: 0;
  margin: 0;
  font-family: Microsoft YaHei,Helvetica Neue,Helvetica,PingFang SC,Hiragino Sans GB,SimSun,sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  font-size:0.14rem;
}

a {
  text-decoration: none;
  color: inherit;
}

.el-loading-mask.is-fullscreen{
    background-color:rgba(0,0,0,.6);
}

